.card {
  font-family: "Inter", sans-serif;
  background: #1b1937;

  @include breakpoint(desktop) {
    max-width: 1110px;
    display: flex;
    flex-direction: row-reverse;
  }
}

.card__picture {
  height: 240px;
  position: relative;
  margin: auto;

  @include breakpoint(desktop) {
    width: 49%;
    height: auto;
    margin: 0;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &:after {
    content: "";
    background: #ab5cdb;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    opacity: 0.75;
  }
}

.card__text-block {
  padding: 41px 30px;

  @include breakpoint(desktop) {
    width: 51%;
    padding: 71px 111px 38px 72px;
  }
}

.card__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 32px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 15px;

  @include breakpoint(desktop) {
    font-size: 36px;
    line-height: 44px;
    text-align: left;
    margin-bottom: 26px;
  }
}

.card__text {
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 39px;
  opacity: 0.75;

  @include breakpoint(desktop) {
    text-align: left;
    margin-bottom: 70px;
  }
}

.card__list {
  @include breakpoint(desktop) {
    display: flex;
    justify-content: space-between;
    padding: 0 32px 0 0;
  }

  .card__item {
    color: #ffffff;
    margin-bottom: 23px;

    .card__item-name {
      font-weight: 700;
      font-size: 24px;
      line-height: 29px;
      text-align: center;
      margin-bottom: 3px;

      @include breakpoint(desktop) {
        text-align: left;
      }
    }

    .card__item-number {
      font-weight: 400;
      font-size: 12px;
      line-height: 25px;
      text-align: center;
      letter-spacing: 1px;
      text-transform: uppercase;
      opacity: 0.6;
      font-family: "Lexend Deca", sans-serif;
    }
  }
}

.color-text {
  color: #ab5cdb;
}
